<mat-toolbar style="background-color: #582183" color="primary">

  <button mat-button routerLink="/"> 
    Double Quotes</button>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
  <span class="fill-remaining-space"></span><span class="fill-remaining-space"></span>
<div class="user-icon">
  <button mat-button [matMenuTriggerFor]="menu2"
    ><mat-icon>account_circle</mat-icon></button>
    <mat-menu #menu2="matMenu" overlapTrigger="false">
      <span>
          <button mat-menu-item>Profile</button>
          <button (click)="logout()" mat-menu-item>Logout</button>
      </span>
   </mat-menu>
  </div>
  
</mat-toolbar>