@font-face {
    font-family: 'abhayaLibreMedium';
    src: url("../../../../fonts/AbhayaLibre-Medium.ttf") format("truetype");
 }

$font-main: 'abhayaLibreMedium', sans-serif;
::ng-deep .mat-form-field-underline {
    display: none;
}
.form-control { display: inline-block !important; }
.login-page {
    font-family: $font-main !important;
    background-color: #FCFCFC;
    height: 915px;

    .logo {
        align-self: baseline;
        margin-left: 690px;
        margin-top: 40px;
    }
    form {
        overflow: hidden;
    }
    .form-control { display: inline-block !important; }
    .username-parent {
            display: flex;
            justify-content: left;
            padding: 35px;
            flex-direction: column;
            margin-left: 538px;
            .username {
                text-align: center;
                display: inline-block;
                width: 239px;
                height: 45px;
                background: #FFFFFF;
                border: 2px solid #582183;
                margin-top: 94px;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                input {
                    float: left;
                    clear: both;
                }
            }
            
          }
    
          .password-parent {
              margin-left: 1055px;
              padding-bottom: 35px;
              .password {
                text-align: center;
                //position: relative;
                width: 239px;
                height: 50px;
            
                /* Surface */
            
                background: #FFFFFF;
                border: 2px solid #EF5DA8;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }
          }
    

          .login-btn-parent {
              margin-left: 935px;
              .login-btn {
                /* Auto Layout */
                font-family: $font-main;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 12px;
                justify-content: center;
                //position: relative;
                width: 119px;
                height: 50px;
            
                background: #582183;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }
          }
    
          .register-btn-parent {
            margin-left: 915px;
            .register-btn {
                /* Auto Layout */
                font-family: $font-main;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 0px 12px;
            
                //position: relative;
                width: auto;
                height: 50px;
                color: white !important;
                background: #EF5DA8 !important;
                border: 1px solid #FFFFFF;
                box-sizing: border-box;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }
          }

    
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

