<body class="register-page">
  <div id="logo"></div>
  <form class="example-form">
  <table cellspacing="0" [formGroup]="userForm">
    <tr>
      <td>
        <mat-form-field class="fullname">
          <input matInput placeholder="Fullname" formControlName="fullname" name="fullname" required>
        </mat-form-field>
      </td>
    </tr>
    <tr>
      <td>
        <mat-form-field class="email">
          <input matInput placeholder="Email" formControlName="email" name="email" required>
          <mat-error *ngIf="email.invalid && email.hasError('email')">Invalid email address</mat-error>
        </mat-form-field>
      </td>
      <div class="register-btn-parent form-group">
        <button class="register-btn" mat-raised-button (click)="register()" color="primary">Create</button>
      </div>
    </tr>
    <tr>
      <td>
        <mat-form-field class="password">
          <input matInput placeholder="Password" formControlName="password" type="password" name="password" required>
        </mat-form-field>
      </td>
      <div class="cancel-btn-parent form-group">
        <button class="cancel-btn" mat-raised-button (click)="cancel()" color="primary">Cancel</button>
      </div>
    </tr>
    <tr>
      <td>
        <mat-form-field class="repeat-password">
          <input matInput placeholder="Repeat Password" formControlName="repeatPassword" type="password" name="repeatPassword" required>
          <mat-error *ngIf="repeatPassword.invalid && repeatPassword.hasError('passwordMatch')">Password mismatch</mat-error>
        </mat-form-field>
      </td>
    </tr>
  </table>
</form>
</body>
