@font-face {
    font-family: 'abhayaLibreMedium';
    src: url('../../../../fonts/AbhayaLibre-Medium.ttf');
 }

::ng-deep .mat-form-field-underline {
    display: none;
}

$font-main: 'abhayaLibreMedium', sans-serif;

.register-page {
    font-family: 'abhayaLibreMedium' !important;
    background-color: #FCFCFC;
    height: 915px;
    #logo {
        background: url('../../../../assets/img/double-quotes-logo.png') no-repeat top left;
        width: 550px;
        height: 200px;
        text-indent: -9999px;
        margin: 0 auto;
    }
    
    .fullname {
        text-align: center;
        margin-top: 50px;
        margin-left: 628px;
        position: relative;
        width: 274px;
        height: 63px;
        font-family: inherit;
    
        /* Surface */
    
        background: #FFFFFF;
        border: 2px solid #EF5DA8;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    
    .email {
        text-align: center;
        margin-top: 43px;
        margin-left: 517px;
        position: relative;
        width: 383px;
        height: 63px;
        font-family: inherit;
    
        /* Surface */
    
        background: #FFFFFF;
        border: 2px solid #582183;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .register-btn-parent {
        margin-left: 136px;
        .register-btn {
            background-color: #EF5DA8;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 12px;
            font-family: inherit;
            justify-content: center;

            position: relative;
            width: 167px;
            height: 54px;
        }
    }

    .cancel-btn-parent {
        margin-left: 136px;
        .cancel-btn {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0px 12px;
            font-family: inherit;
            justify-content: center;

            position: relative;
            width: 134px;
            height: 54px;

            background: #B4B7BD;
            border: 1px solid #582183;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
        }
    }
    
    .password {
        text-align: center;
        margin-top: 43px;
        margin-left: 628px;
        position: relative;
        width: 274px;
        height: 63px;
    
        /* Surface */
    
        background: #FFFFFF;
        border: 2px solid #EF5DA8;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
    
    .repeat-password {
        text-align: center;
        margin-top: 43px;
        margin-left: 628px;
        position: relative;
        width: 274px;
        height: 63px;
    
        /* Surface */
    
        background: #FFFFFF;
        border: 2px solid #EF5DA8;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }
}
