@font-face {
  font-family: 'abhayaLibreMedium';
  src: url('../../../fonts/AbhayaLibre-Medium.ttf');
}
$font-main: 'abhayaLibreMedium', sans-serif;

body {

  #logo {
    background: url('../../../assets/img/double-quotes-logo.png') no-repeat top left;
    width: 550px;
    height: 200px;
    text-indent: -9999px;
    margin-right: 520px;
    margin-left: 120px;
}
    background: #222;
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 1rem;
    font-family: sans-serif;
    padding-bottom: 3em;
  }
  .page-wrap {
    display: inline-block;
    margin: 2em auto;
  }

  .controls {
    &__input {
      display: block;
      margin: 0 auto;
      background: none;
      border: none;
      font-size: 1em;
      padding-bottom: .5em;
      border-bottom: 2px solid #ccc;
      text-align: center;
      outline: none;
      color: black;
    }
    &__btn {
      background: dodgerblue;
      color: #fff;
      border: none;
      font-size: 1em;
    }
    &__label {
       display: block;
      font-size: .8em;
      padding-top: .3em;
      margin-bottom: 2em;
    }
  }
  canvas {
    background-color: #eee;
    // opacity: 0;
    transition: opacity .3s;
    &.show {
      opacity: 1;
    }
  }
  .canvas-wrap {
    margin-top: 50px;
    position: relative;
  }
  #canvasID {
    z-index: 9999;
  }
  .save-btn-parent {
    margin-left: 935px;
    .save-btn {
      /* Auto Layout */
      font-family: $font-main;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 12px;
      justify-content: center;
      //position: relative;
      width: 119px;
      height: 50px;
  
      background: #582183;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
  }
}