<app-header></app-header>
<body style="background-color: white;">
  <div id="logo"></div>
  <h1>Choose a template for your quote.</h1>
  <ng-image-slider #nav
    [images]="imageObject"
    [infinite]="true"
    [imagePopup]="false"
    (imageClick)="selectImage($event)"
    slideImage="4"></ng-image-slider>
  <div class="page-wrap">
    <div class="controls">
      <input class="controls__input" type="file" id="imageLoader" name="imageLoader"/>
      <label class="controls__label" for="name">First, choose an image.</label>
      
      <input class="controls__input" id="name" type="text" (newItemEvent)="addQuote($event)" value={{quote.value}}/>
      <label class="controls__label" for="name"></label>
    </div>
    <div id="canvas-wrap" style="text-align: -webkit-center; text-align: -moz-center;">
      <canvas style="display:block" id="imageCanvas" width=700 height=500>
          <canvas id="canvasID">
            <img id="canvasImage" alt="">
          </canvas>
      </canvas> 
      <!-- <img id="canvasID" alt="Template failed to load."> -->
    </div>
    <div class="save-btn-parent">
      <button class="save-btn" mat-raised-button (click)="save()" color="primary">Save & Post</button>
    </div>
  </div>
</body>