#logo {
    background: url('../../../assets/img/double-quotes-logo.png') no-repeat top left;
    width: 550px;
    height: 200px;
    text-indent: -9999px;
    margin-right: 520px;
    margin-left: 120px;
}
::ng-deep .mat-form-field-underline {
    display: none;
}

.quote {
    text-align: center;
    margin-top: 50px;
    position: relative;
    width: 640px;
    height: 63px;
    font-family: inherit;
    display: inline-block;
    /* Surface */

    background: #FFFFFF;
    border: 2px solid #AAAAAA;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}
.outer
{
    width:100%;
    text-align: center;
}
.quote-btn-parent {
    display: inline-block;
    .quote-btn {
      /* Auto Layout */
    //   display: flex;
    //   flex-direction: row;
      align-items: center;
      padding: 0px 12px;
      justify-content: center;
      //position: relative;
      width: 119px;
      height: 63px;
  
      background: #582183;
      border: 1px solid #FFFFFF;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;
  }
}