<app-header></app-header>
<body style="background-color: white;">
    <div id="logo"></div>
      <form [formGroup]="form" (ngSubmit)="OnInput($event)">
      <div class="outer">
        <mat-form-field class="quote">
        <input formControlName="quoteValue" matInput placeholder="Start writing no matter what..." name="quote" [(ngModel)]="newQuote.value" (keyup.enter)="OnInput($event)" >
        </mat-form-field>
        <div class="quote-btn-parent form-group">
        <button class="quote-btn" mat-raised-button (click)="OnInput($event)" color="primary">Quote</button>
        </div>
    </div>
    <div class="outer">
        <mat-form-field style="margin-left: 331px;">
            <mat-label>Visibility</mat-label>
            
            <mat-select [(ngModel)]="selectedValue" name="visibility">
              <mat-menu #menu="matMenu"></mat-menu>
              <mat-option [matMenuTriggerFor]="menu" *ngFor="let visibility of this.visibilities" [value]="visibility.value">
                {{visibility.value}}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>
  </form>
    <div class="outer">
        <mat-tab-group mat-stretch-tabs style="width: 75%; margin-left: 250px;">
            <mat-tab label="Feed"> Feed </mat-tab>
            <mat-tab label="Interests"> Interests </mat-tab>
          </mat-tab-group>
    </div>
  <!-- </div> -->
    
    
</body>